@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "USERS";
}
@model Zencareservice.Models.Signup

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>Users</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a asp-action="URegister" asp-controller="Account">Create NewUser</a></li>
                    <li class="breadcrumb-item active"><b style="color:black">Userlist</b></li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div class="card card-primary">
    <div class="card-header">
        <h3 class="card-title">@ViewData["Title"]</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
    
    <table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Employee Code/UserName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>ContactNo</th>
            <th>Action</th>
        </tr>
    </thead>
            <tbody>


            @if (Model != null)
            {
                @foreach (var userdetail in Model.showlist)
                {
                    <tr>
                        <td>@userdetail.Rcode</td>
                        <td>@userdetail.Firstname</td>
                        <td>@userdetail.Lastname</td>
                        <td>@userdetail.Email</td>
                        <td>@userdetail.Phonenumber</td>
                         <td> 
                          @* <a class="btn btn-info btn-sm" asp-action="Profile" asp-controller="Profiles" asp-route-id="userdetail.RId" >
                             <i class="fas fa-pencil-alt">
                             </i>
                              Edit
                           </a>  *@

                                <a href="@Url.Action("Profile", new { id = userdetail.RId })" class="btn btn-info btn-sm">
                                    <i class="fas fa-pencil-alt"></i> Edit
                                </a>


                        </td>

                    </tr>
                }
            }
            else
            {

            }

    </tbody>
    </table>

   </div>


</div>


