
@{
    Layout = "_AdminLayout";
}
@model Zencareservice.Models.Appts

@Html.ActionLink("Create New","CreateAppointment");
<table class="table">
    <thead>
        <tr>
            <th>Registration Code</th>
            <th>Patient FirstName</th>
            <th>Patient LastName</th>
            <th>Reason</th>
            <th>PatientContactNo</th>
            <th>Appointment Date</th>
            <th>Appointment Time</th>
            <th>Patient Name</th>
        </tr>
    </thead>
    <tbody>

     
        @if(Model !=null)
        {
            @foreach(var appointment in Model.showlist)
            {
                <tr>
                   <td>@appointment.RCode</td>
                   <td>@appointment.PatientFirstName</td>
                   <td>@appointment.PatientLastName</td>
                   <td>@appointment.ReasonType</td>                
                   <td>@appointment.Patientphoneno</td>
                   <td>@appointment.AptBookingDate</td>
                    //<td>@appointment.AptBookingTime</td> 
                    <td> 

                    @* <div class="btn-group btn-group-sm"> *@
                     @*  <a asp-action="EditAppointment" asp-controller="Aptedit" asp-route-id="RCode" class="btn btn-primary">Reschedule</a> *@
                   @*  </div> *@
                   @Html.ActionLink("Edit","Aptedit",new{Id =appointment.AptId})
                    </td>

                </tr>
            }
        }
        else
        {
            
        }

    </tbody>
</table>
